<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
 
    RewriteEngine on
    RewriteRule ^(.*)$ index.php/$1 [L]
	
	RewriteRule admin-(.*)/(.*) skins/admin/$1/$2 [L]
	RewriteRule home-(.*)/(.*) skins/frontpage/$1/$2 [L]
</IfModule>