#<IfModule mod_rewrite.c>
#	RewriteEngine on
#	
#	RewriteRule ^(.*)$ index.php [L]
#	RewriteRule ^aaaaaaa$ index.php [L]
#	RewriteCond $1 !^(index.php)
#	RewriteRule ^(.*)$ index.php/$1 [L]
#	
#	Options All -Indexes
#</IfModule>
#